body{
    text-align: center;
    position: absolute;
    background-color: white;
    
}

body h1{
    text-align: center;
    margin: initial;
    background-color: black;
    padding-inline-start: 10000px;

}